doctype html
html(lang='en',
xmlns='http://www.w3.org/1999/xhtml'
, xmlns:fb='https://www.facebook.com/2008/fbml',
itemscope='itemscope',
itemtype='http://schema.org/Product',
ng-app='sokratik.lab.app',
ng-controller='AppCtrl',
class="full-sized")
    include ../includes/head
    body(ng-class="{presentation:presentationMode,navigation:navigationMode }")
        block content
        include ../includes/foot

